@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppin', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
body{
    overflow-x: hidden;
}
.container{
    width: 100%;
    height: 100vh;
    background: #d0cece;
    padding: 20px;
}

.ellipse{
    position: absolute;
    width: 478px;
    height: 471px;
    left: 801px;
    top: 217px;
    background: #DB00FF;
    }
.ellipse2{
    position: absolute;
    width: 459px;
    height: 452px;
    left: 974px;
    top: -97px;
    background: #00D1FF;
    }
.ellipse3{
    position: absolute;
    width: 474px;
    height: 465px;
    left: 800px;
    top: 537px;
    background: #9E00FF;
    }
.ellipse4{
    position: absolute;
    width: 260px;
    height: 259px;
    left: 1289px;
    top: 713px;
    background: #DBFF00;
    }
.ellipse5{
    position: absolute;
    width: 393px;
    height: 387px;
    left: 1324px;
    top: -32px;
    background: #00D1FF;
    }
.ellipse6{
    position: absolute;
    width: 398px;
    height: 417px;
    left: 1205px;
    top: 297px;
    background: #00FFA3;
    }
.ellipse7{
    position: absolute;
    width: 478px;
    height: 401px;
    left: -46.5px;
    top: 1004px;
    background: #DB00FF;

}
.ellipse8{
    position: absolute;
    width: 459px;
    height: 452px;
    left: 223px;
    top: 1169px;
    background: #00D1FF;
}
.ellipse9{
    position: absolute;
    width: 393px;
    height: 387px;
    left: -55px;
    top: 1347px;
    background: #00D1FF;
}
.ellipse10{
    position: absolute;
    width: 398px;
    height: 417px;
    left: 179px;
    top: 1395px;
    background: #00FFA3;
}
.ellipse11{
    position: absolute;
    width: 260px;
    height: 259px;
    left: 11px;
    top: 1734px;
    background: #DBFF00;
}

.rectangle{
    position: absolute;
    width: 2743px;
    height: 2330px;
    left: -658px;
    top: -84px;
    background: rgba(255, 255, 255, 0.58);
    backdrop-filter: blur(100px);
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    height: 27.3px;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
.logoName{
    position: absolute;
    width: 157px;
    height: 52px;
    left: 1300px;
    top: 30px;
    background: url(LOGO\ 1.png);
}

nav ul {
    text-align: center;
    padding-right: 30px;
    font-size: 18px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    color: #0C1432;
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    position: relative;
    padding: 6px 15px;
}

nav ul li a:hover::after,
nav ul li a.active {
    width: 50%;
}


nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #0C1432;
    transition: width 0.3s;
}

.design{
    position: absolute;
    width: 40px;
    height: 37px;
    left: 382px;
    top: 146px;
    background: url(cube.png);
}
.design2{
    position: absolute;
    width: 85px;
    height: 145px;
    left: 645px;
    top: 200px;
    background: url(arc03.png);
    transform: rotate(-7.59deg);
}
.person{
    position: absolute;
    width: 636px;
    height: 636px;
    left: 952px;
    top: 118px;
    background: url(element1-iFOUND.png);
    background-size: contain;
}
.introduction{
    position: absolute;
    width: 654px;
    height: 200px;
    left: 123px;
    top: 235px;
    background: url(intro.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .introdescr{
    position: absolute;
    width: 753px;
    height: 94px;
    left: 123px;
    top: 450px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 47px;
    color: #524B6B;
  }
  .button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 23px 92px;
    gap: 10px;
    position: absolute;
    width: 283px;
    height: 70px;
    left: 123px;
    top: 569px;
    background: radial-gradient(63.11% 63.11% at 31.97% 19.67%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%), #FFAE34;
    box-shadow: -4px 21px 62px rgba(0, 0, 0, 0.21);
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    padding-left: 75px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
   
  }
.design3{
    position: absolute;
    width: 85px;
    height: 86px;
    left: 38px;
    top: 630px;
    background: url(halfball.png);
}
.person2{
    position: absolute;
    width: 766px;
    height: 764px;
    left: 24px;
    top: 783px;
    background-repeat: no-repeat;
    background-image: url(person2.png);
}
.name{
    position: absolute;
    width: 517px;
    height: 127px;
    left: 479px;
    top: 866px;
    background: url(name.png);
}
.phone{
    position: absolute;
    width: 719px;
    height: 580px;
    left: 750px;
    top: 951px;
    background-repeat: no-repeat;
    background-image: url(phone.png);
}
.about{
    position: absolute;
    width: 468px;
    height: 297px;
    left: 816px;
    top: 1058px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #524B6B;
}

.building{
    position: absolute;
    width: 500px;
    height: 400px;
    left: 384px;
    top: 1087px;
    background-repeat: no-repeat;
    background-image: url(building.png);
}

.headphones{
    position: absolute;
    width: 684px;
    height: 573px;
    left: 116px;
    top: 1643px;
    background: url(headphone.png);
}
.bubble{
    position: absolute;
    width: 580px;
    height: 500px;
    left: 800px;
    top: 1673px;
    background: url(bubble.png);
}
.fblogo{
    position: absolute;
    width: 103px;
    height: 111px;
    left: 1025px;
    top: 1953px;
    background: url(fb.png);
}